In [1]:
a={"name":"Yashvi","age":20,"branch":"CSE",("h","w"):(119,60.5)}
print(a)

{'name': 'Yashvi', 'age': 20, 'branch': 'CSE', ('h', 'w'): (119, 60.5)}

In [2]:
#using loop for creating dictionary
{x:x**3 for x in (2,4,6,8)}

{2: 8, 4: 64, 6: 216, 8: 512}

In [3]:
dict(King = 444, Queen = 555, Jack = 333)

{'Jack': 333, 'King': 444, 'Queen': 555}

In [4]:
#printing only keys
print(a.keys())

#printing only values
print(a.values())

#printing only whole key value term
print(a.items())

dict_keys(['name', 'age', 'branch', ('h', 'w')])
dict_values(['Yashvi', 20, 'CSE', (119, 60.5)])
dict_items([('name', 'Yashvi'), ('age', 20), ('branch', 'CSE'), (('h', 'w'), (119, 60.5))])

In [5]:
#accessing an element by its key
print(a.get("age"))

#accessing an elemnet by the key which is not present
print(a.get("ag"))

20
None

In [6]:
#removing an element
print(a.popitem())
print(a)

(('h', 'w'), (119, 60.5))
{'name': 'Yashvi', 'age': 20, 'branch': 'CSE'}

In [7]:
#poping an item using key
print(a.pop("branch"))
print(a)

CSE
{'name': 'Yashvi', 'age': 20}

In [8]:
#inserting an item 
b={("h","w"):(119,60.5)}
a.update(b)
print(a)

{'name': 'Yashvi', 'age': 20, ('h', 'w'): (119, 60.5)}

In [10]:
#Updating a value of a dictionary  
a.update({"name":"Yashvi Soni"})
print(a)

{'name': 'Yashvi Soni', 'age': 20, ('h', 'w'): (119, 60.5)}

In [11]:
#accessing a tuple element from dictionary
print(a[('h','w')])
print(a[('h','w')][0])

(119, 60.5)
119